
body{
	background:linear-gradient( rgba(8,167,225,1) 0%, rgba(38,110,182,1) 36%, rgba(58,71,157,1) 73%, rgba(69,47,140,1) 100%);
  background-repeat: no-repeat;
margin: 0px;
}
/*-----------------------index----------------------*/
.fondo2{
	height: 750px;
}

.contenedor{
   background-color: white;
     width: 421px;
    height: 609px;
}

.cont-2{
  margin-left: 84px;
  margin-top: 100px;
}
.logo{
  position: relative;
  top: 50px;
   position: absolute;
    }

.cont-3{

}
.sesion{

   font-weight: bold;
   width: 200px;
   margin: 0 35px 20px ;
   height: 35px;
   padding: 6px 15px;
   border-radius: 5px;
   outline: none;
   border: none;
   background: #F6F7F9;
   color: #748194;
   font-size: 14px;
}

.contraseña{
     font-weight: bold;
   width: 200px;
   margin: 0 35px 20px ;
   height: 35px;
   padding: 6px 15px;
   border-radius: 5px;
   outline: none;
   border: none;
   background: #F6F7F9;
   color: #748194;
   font-size: 14px;
}
.button{
  position: absolute;
    left: 50px;
}

.enlace-nuevo{
  position: relative;
    bottom: 15px;
    right: 27px;
}
.p-contraseña{
  text-align: center;
}
/*------------------ regsitro ----------------------*/
.c2{
   background-color: white;
   width: 421px;
    height: 609px;
   margin-left: 859px;
   display:inline-block;

}
.c3{
  text-align: center;
   margin-top: 196px;
  margin-left: 10px;

}

.signup1{
   color:#748194;
   font-size:30px;
   }
a{
   text-decoration: none;
}

.username{
   font-weight: bold;
   width: 200px;
   margin: 0 35px 20px ;
   height: 35px;
   padding: 6px 15px;
   border-radius: 5px;
   outline: none;
   border: none;
   background: #F6F7F9;
   color: #748194;
   font-size: 14px;
}
.btn{
   font-weight: bold;
   width: 230px;
   margin: 0 35px 20px ;
   height: 45px;
   padding: 6px 15px;
   border-radius: 5px;
   outline: none;
   border: none;
   background: #EE9BA3;
   color: white;
   font-size: 14px;
   margin-top: 20px;
}


/*------------------ Pase de tarjeta ----------------------*/

.conteiner-tarjeta{
   background-color: white;
   width: 421px;
    height: 750px;
   display:inline-block;

}


.logo-tarjeta img{
  width: 68%;
    margin-top: 101px;
    margin-left: 62px;
}

.text-1{
  text-align: center;
  color :#748194;
  font-family: helvetica;
  padding-top: 50px;
}

.img-tarjeta img{
	width: 399px;
 	height: 336px;
}

.img-tarjeta{
  position: relative;
  top: 17px;
  margin-left: -24px;


}

/*------------------ Confirmacion ----------------------*/

.conteiner-confirmacion{
   background-color: white;
   width: 421px;
    height: 750px;
   display:inline-block;

}

.text-2{
  text-align: center;
  color :#748194;
  font-family: helvetica;
  padding-top: 90px;
}


.btn-confirma{
  font-weight: bold;
    width: 285px;
    margin: 0px 65px 20px;
    height: 42px;
    padding: 6px 15px;
    border-radius: 20px;
    outline: none;
    border: none;
    background: #151414;
    color: white;
    font-size: 14px;
    margin-top: 68px;
    cursor: pointer;
}

/*------------------ Home User ----------------------*/

.img-usuario{
    position: relative;
    margin-left: 147px;
    top: 77px;
    display: flex;
}

.perfil{
	height:133px;
}

.text-bienv{
  left: 31px;
  position: relative;
  top:27px;
  font-family: sans-serif;
  color: white;
}

.btn-user{
  text-align: center;
  position: relative;
  top: 125px;
}

.btn-user1{
      font-weight: bold;
    margin: 0px 65px 20px;
    width: 555px;
    height: 58px;
    padding: 6px 15px;
    border-radius: 20px;
    outline: none;
    border: none;
    background: white;
    color: black;
    font-size: 21px;
    margin-top: 68px;
    cursor: pointer;
}


/*------------------ Reserva-calen ----------------------*/
.conteiner-reser{
   background-color: white;
   width: 466px;
    height: 609px;
   display:inline-block;

}

.user-calen{
      text-align: center;
    margin-top: 25px
}

.conteiner-reser h2{
   font-family: sans-serif;
   margin-left: 21px;

}
.logo-tarjeta2 img{
	width: 49%;
	    margin-top: 26px;
	    margin-left: 97px;
}
.text-3{
			text-align: center;
	    color: #120E0E;
	    font-family: roboto;
	    margin-top: 5px;
	    font-size: 26px;
	    margin-left: -27px;
}


body {
  font-family: "Roboto", sans-serif;
  font-size: 1em;

}
#conteiner-confirmacion{
   background-color: white;
   width: 451px;
    height: 750px;
   display:inline-block;

}
.datepicker {
  width: 400px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.2);
	margin-top: 70px;
    margin-left: 21px;
}

.datepicker .ui-datepicker-inline {
  padding: 30px;
}
.datepicker .ui-datepicker-header {
  text-align: center;
  padding-bottom: 1em;
  text-transform: uppercase;
  letter-spacing: .1em;
}
.datepicker .ui-datepicker-header .ui-datepicker-prev,
.datepicker .ui-datepicker-header .ui-datepicker-next {
  display: inline;
  float: left;
  cursor: pointer;
  font-size: 1.4em;
  padding: 0 10px;
  margin-top: -10px;
  color: #CCC;
}
.datepicker .ui-datepicker-header .ui-datepicker-next {
  float: right;
}
.datepicker .ui-datepicker-calendar {
  width: 100%;
  text-align: center;
}
.datepicker .ui-datepicker-calendar thead {
  color: #CCC;
}
.datepicker .ui-datepicker-calendar tr th, .datepicker .ui-datepicker-calendar tr td {
  padding-bottom: .5em;
}
.datepicker .ui-datepicker-calendar a {
  color: #444;
  text-decoration: none;
  margin: 0 auto;
  width: 35px;
  height: 35px;
  line-height: 35px;
  border-radius: 50%;
  border: 1px solid transparent;

}

.ui-datepicker-calendar a:hover{
	background-color: #414141;
	color: white;
	border-radius: 32px;
	padding: 7px;

}

.btn2{
	font-weight: bold;
    width: 190px;
    margin: 0 40px 26px;
    height: 41px;
    padding: 11px 48px;
    border-radius: 30px;
    outline: none;
    border: none;
    background: white;
    color: #414141;
    font-size: 14px;
    margin-top: 21px;
}

.grid-container{
	margin-top: -692px;
	    display: flex;
	    flex-wrap: wrap;
	    float: left;
	    margin-left: 533px;
}

.btn2:hover{
	background-color:#414141;
	color: white;
}

.btn-4{
	display: flex;
    margin-top: -199px;
    float: left;
    margin-left: 800px;

}

.btn3{
	font-weight: bold;
    width: 190px;
    margin: 0 40px 26px;
    height: 41px;
    padding: 11px 48px;
    border-radius: 30px;
    outline: none;
    border: none;
    background:#151414;
    color:white;
    font-size: 14px;
    margin-top: 21px;

}
.btn5{
	font-weight: bold;
    width: 190px;
    margin: 0 40px 26px;
    height: 41px;
    padding: 11px 48px;
    border-radius: 30px;
		border-style: solid;
		color: #151414;
    font-size: 14px;
    margin-top: 21px;

}
.btn3:hover{
	background-color: #4D4D4D;
}
